@using Chirp.Core.Entities
@using Chirp.Core.Interfaces
@using System.Security.Claims
@model ICheepModel

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

@if (Model.Cheeps.Any())
{
    <ul id="messagelist" class="cheeps-container">
    @foreach (var cheep in Model.Cheeps)
        {
            <li class="cheep-wrapper">
                @if (@cheep.Author.UserName != null)
                {
                    <a href="/@cheep.Author.UserName" class="avatar">
                        <!--If the author has an avatar, display it instead of just a letter-->
                        @if (cheep.Author.Avatar != null)
                        {
                            <img src="@cheep.Author.Avatar" class="avatar" />
                        }
                        else
                        {
                            @cheep.Author.UserName.First()
                        }
                    </a>
                }
                <div class="cheep">
                    <div class="cheep-user">
                        <a class="cheep-author" href="/@cheep.Author.UserName">@cheep.Author.UserName</a>
                        @if (User.Identity != null && User.Identity.IsAuthenticated && cheep.Author.Id != userId)
                        {
                            <form method="post">
                                @{
                                    string action = cheep.Author.Followers.Any(f => f.Id == userId) == true ? "unfollow" : "follow";
                                }

                                <button class="btn btn-secondary"

                                    type="submit" asp-page-handler="@action" asp-route-followeeId="@cheep.AuthorId"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    @action
                                </button>
                            </form>
                        }
                        <div class="cheep-timestamp-tooltip">
                            &sdot;<span>@Chirp.Web.Utilities.TimeUtilties.FormatDateTimePretty(@cheep.Revisions.Last().TimeStamp)</span>
                            <small class="cheep-timestamp">
                                @Chirp.Web.Utilities.TimeUtilties.FormatUnixTimeRaw(@cheep.Revisions.Last().TimeStamp)
                            </small>
                        </div>
                        <div class="cheep-timestamp-tooltip">
                            &sdot;
                            @if (cheep.Revisions.Count > 1)
                            {
                                <span onclick="ToggleRevisions(@cheep.Id)">Edited</span>
                            }
                        </div>
                        @if (User.Identity != null && User.Identity.IsAuthenticated && cheep.AuthorId.Equals(userId))
                        {
                            <div class="cheep-dropdown">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item" onclick="ToggleEditCheep(@cheep.Id)">Edit</button></li>
                                        <form asp-page-handler="Delete" method="post" asp-route-UserAuth="@userId" asp-route-cheepId="@cheep.Id">
                                            <li><button class="dropdown-item" type="submit">Delete</button></li>
                                        </form>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="cheep-message" id="cheepmessage-@cheep.Id">
                        @cheep.Revisions.First().Message
                    </div>
                    @if (User.Identity != null && User.Identity.IsAuthenticated && cheep.AuthorId.Equals(userId))
                    {
                        <div class="cheep-message" id="cheepedit-@cheep.Id" style="display: none;">
                            <form asp-page-handler="UpdateCheep" method="post" asp-route-cheepId="@cheep.Id">
                                <input asp-for="CheepMessage" id="cheepeditbox-@cheep.Id" class="cheepeditbox" type="text" autocomplete="off" maxlength="160" style="resize: none; width: 40rem;" value="@cheep.Revisions.First().Message">
                            </form>
                        </div>
                    }
                    <div class="cheep-message" id="cheeprevision-@cheep.Id" style="display: none;">
                        @{
                            List<CheepRevision> revisionList = cheep.Revisions.ToList();
                            for (int i = cheep.Revisions.Count - 1; i > -1; i--)
                            {
                                <div class="cheep-message" style="padding-bottom: 10px;">
                                    @Chirp.Web.Utilities.TimeUtilties.FormatUnixTimeRaw(revisionList[i].TimeStamp)
                                    &sdot;
                                    @revisionList[i].Message
                                </div>
                            }
                        }
                    </div>
                    <div style="margin-top: .5rem; display: flex; gap: 0.5em;">
                        <form asp-page-handler="Like" method="post" asp-route-cheepId="@cheep.Id">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <button class="btn @(cheep.Likes.Any(a => a.Id == userId) == true ? "btn-primary" : "btn-secondary")"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                    type="submit">
                                    Like <span class="badge text-bg-secondary">@cheep.Likes.Count</span>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-secondary"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                    type="submit" disabled>
                                    Like <span class="badge text-bg-secondary">@cheep.Likes.Count</span>
                                </button>
                            }
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <em>No Cheeps found</em>
}
