@using Chirp.Core.Entities;
@using System.Security.Claims
@model IEnumerable<Cheep>

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

@if (Model.Any())
{
    <ul id="messagelist" class="cheeps-container">
    @foreach (var cheep in Model)
        {
            <li class="cheep-wrapper">
                @if (@cheep.Author.UserName != null)
                {
                    <a href="/@cheep.Author.UserName" class="cheep-avatar">
                        <!--If the author has an avatar, display it instead of just a letter-->
                        @if (cheep.Author.Avatar != null)
                        {
                            <img src="@cheep.Author.Avatar" class="avatar" />
                        }
                        else
                        {
                            @cheep.Author.UserName.First()
                        }
                    </a>
                }
                <div class="cheep">
                    <div class="cheep-user">
                        <a class="cheep-author" href="/@cheep.Author.UserName">@cheep.Author.UserName</a>
                        <div class="cheep-timestamp-tooltip">
                            &sdot;<span>@Chirp.Web.Utilities.TimeUtilties.FormatDateTimePretty(@cheep.TimeStamp)</span>
                            <small class="cheep-timestamp">
                                @Chirp.Web.Utilities.TimeUtilties.FormatUnixTimeRaw(@cheep.TimeStamp)</small>
                        </div>
                    </div>
                    @cheep.Message
                    <div style="margin-top: .5rem;">
                        <form asp-page-handler="Like" method="post" asp-route-cheepId="@cheep.Id">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                @if (cheep.Likes.Any(a => a.Id == userId))
                                {
                                    <button class="btn btn-primary"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                        type="submit">
                                        Like <span class="badge text-bg-secondary">@cheep.Likes.Count</span>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-secondary"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                        type="submit">
                                        Like <span class="badge text-bg-secondary">@cheep.Likes.Count</span>
                                    </button>
                                }
                            }
                            else
                            {
                                <button class="btn btn-secondary"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                    type="submit" disabled>
                                    Like <span class="badge text-bg-secondary">@cheep.Likes.Count</span>
                                </button>
                            }
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <em>No Cheeps found</em>
}
