@using Chirp.Web.Models;

@model Pagination

<nav>
    <form method="post">

        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.Current == 1 ? "disabled" : "")">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (var i = 3; i >= 1; i--)
            {
                @if ((@Model.Current - i) > 0)
                {
                    <li class="page-item">
                        <button class="page-link" type="submit" asp-page-handler="pagination"
                            asp-route-newPage="@(Model.Current - i)">
                            @(Model.Current - i)
                        </button>
                    </li>
                }
            }
            <li class="page-item active">
                <button class="page-link" type="submit" asp-page-handler="pagination"
                    asp-route-newPage="@Model.Current">@Model.Current</button>
            </li>
            @for (var i = 1; i <= 3; i++)
            {
                @if (@Model.Current + i <= @Model.Pages)
                {
                    <li class="page-item">
                        <button class="page-link" type="submit" asp-page-handler="pagination"
                            asp-route-newPage="@(Model.Current + i)">
                            @(Model.Current + i)
                        </button>
                    </li>
                }
            }
            <li class="page-item">
                <a class="page-link @(Model.Current == Model.Pages ? "disabled" : "")" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </form>
</nav>
