@{
    Layout = "../Shared/_Layout";

    Func<string, string> IsActive = (string page) =>
    {
        var currentPage = ViewContext.RouteData.Values["page"] as string;
        return currentPage == page ? "btn-primary" : "btn-secondary";
    };
}

@if (Model.Author != null)
{
    <div style="display: flex; flex-direction: column; gap: 1.5rem">
        @* The avatar is displayed if it exists, otherwise the first letter of the username is displayed. *@
        <div class="avatar" style="width: 120px; height: 120px;">
            @if (Model.Author?.Avatar != null)
            {
                <img src="@Model.Author.Avatar" style="width: 120px; height: 120px;" />
            }
            else
            {
                <p style="margin: 0; font-size: 2rem">
                    @Model.Author?.UserName[0]
                </p>
            }
        </div>

        @* Display authors username and the amount of followers/following *@
        <div class="d-flex flex-column gap-2">
            <p class="profileName">@Model.Author?.UserName</p>

            <div class="d-flex gap-4">
                <p><span class="fw-bold">@Model.Following.Count</span> Following</p>
                <p><span class="fw-bold">@Model.Followers.Count</span> Followers</p>
            </div>
        </div>

        @* Buttons displaying the amount of cheeps and likes.
        The active page changes which button is set as active. *@
        <div>
            <a type="button" class="btn @IsActive("/User/Index")" href="/@Model.Author?.UserName">
                Cheeps <span class="badge text-bg-secondary">@Model.TotalCheeps</span>
            </a>
            <a type="button" class="btn @IsActive("/User/Likes")" href="/@Model.Author?.UserName/likes">
                Likes <span class="badge text-bg-secondary">@Model.TotalLikedCheeps</span>
            </a>
        </div>
    </div>

    <hr />

    @RenderBody()
}
else
{
    <p>That user does not exist!</p>
    IgnoreBody();
}


@await RenderSectionAsync("Scripts", required: false)

<style>
    .profileName {
        font-size: large;
        margin: 0;
        font-weight: bold;
    }
</style>
