@page "/{author}"
@model Web.Pages.UserTimelineModel
@{
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<link href="/css/pages/userTimeline.css" rel="stylesheet" type="text/css" />
<div>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps-container">
            @foreach (var cheep in Model.Cheeps)

            {
                <li class="cheep-wrapper">
                    <a href="/@cheep.Author" class="cheep-avatar">
                        @cheep.Author.Name.First()
                    </a>
                    <div class="cheep">
                        <div class="cheep-user">
                            <a class="cheep-author" href="/@cheep.Author.Name">@cheep.Author.Name</a>
                            <small onmouseover="" class="cheep-timestamp">&sdot;
                                @Web.Utilities.TimeUtilties.FormatDateTimePretty(@cheep.TimeStamp)</small>
                        </div>
                        @cheep.Message
                    </div>
                </li>
            }
        </ul>
        ViewData["Title"] = @routeName + "'s Timeline";
        ViewData["totalCheeps"] = Model.Cheeps.Count;
    }
    else
    {
        ViewData["Title"] = "The end of " + @routeName + "'s Timeline";
    }
</div>
